[submodule "extern/imdbpy"]
	path = extern/imdbpy
	url = https://github.com/albertz/imdbpy.git
[submodule "extern/py_better_exchook"]
	path = extern/py_better_exchook
	url = https://github.com/albertz/py_better_exchook.git
